.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: $box-shadow;
  margin-bottom: 10px;

  @include responsive($breakpoint-extra-small) {
    flex-direction: column;
    gap: 15px;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: $primary-color;
  }
  .nav-links {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 10px;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      &:hover {
        color: $primary-color;
      }
    }
  }
}