$primary-color: #ff7e5f;
$secondary-color: #feb47b;
$text-color: #333;
$bg-light: #f3f3f3;
$footer-bg: #222;
$white: white;
$fonts: Arial, sans-serif;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$breakpoint-extra-small: 576px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

@mixin responsive($width) {
    @media screen and (max-width: $width) {
        @content; 
    }
}