.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10px;

  @include responsive($breakpoint-extra-small) {
    flex-direction: column;
    text-align: center;
    padding: 50px 10px;
  }
  .content {
    width: 50%;
    @include responsive($breakpoint-extra-small) {
        width: 100%;
        margin-bottom: 30px;
    }
  }
  h1 {
    font-size: 48px;
    color: $primary-color;
    @include responsive($breakpoint-extra-small) {
        font-size: 36px;
    }
  }
  p {
    font-size: 18px;
  }
  img {
    width: 40%;
    @include responsive($breakpoint-extra-small) {
        width: 80%;
    }
  }
}

/* Features & Plans Sections */
.features {
  background: $bg-light;
}
.center-section {
  text-align: center;
  padding: 50px 10px;
}
.card-list {
  display: flex;
  justify-content: space-between;

  @include responsive($breakpoint-medium) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
.card {
  background: $white;
  padding: 20px;
  width: 27%;
  border-radius: 10px;
  box-shadow: $box-shadow;

  @include responsive($breakpoint-medium) {
    width: 80%;
  }
}