@import 'variables';
@import 'header';
@import 'primary-button';
@import 'content';

body {
    body {
  font-family: $fonts;
  color: $text-color;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 32px;
}
}

.footer {
  text-align: center;
  padding: 20px;
  background: $footer-bg;
  color: $white;
}