$primary-color: #ff7e5f;
$secondary-color: #feb47b;
$text-color: #333;
$bg-light: #f3f3f3;
$footer-bg: #222;
$white: white;
$fonts: Arial, sans-serif;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$breakpoint-extra-small: 576px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

@mixin responsive($width) {
    @media screen and (max-width: $width) {
        @content; 
    }
}

/* General Styles */
body {
  font-family: $fonts;
  color: $text-color;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 32px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: $box-shadow;
  margin-bottom: 10px;

  @include responsive($breakpoint-extra-small) {
    flex-direction: column;
    gap: 15px;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: $primary-color;
  }
  .nav-links {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 10px;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

/* Primary Button */
.primary-btn {
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;

  font-size: 18px;
  font-weight: bold;
  color: $white;

  text-decoration: none;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, $primary-color, $secondary-color);

  &:hover {
    box-shadow: 0px 5px 15px rgba(255, 126, 95, 0.4);
  }
}

/* Main Section */
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10px;

  @include responsive($breakpoint-extra-small) {
    flex-direction: column;
    text-align: center;
    padding: 50px 10px;
  }
  .content {
    width: 50%;
    @include responsive($breakpoint-extra-small) {
        width: 100%;
        margin-bottom: 30px;
    }
  }
  h1 {
    font-size: 48px;
    color: $primary-color;
    @include responsive($breakpoint-extra-small) {
        font-size: 36px;
    }
  }
  p {
    font-size: 18px;
  }
  img {
    width: 40%;
    @include responsive($breakpoint-extra-small) {
        width: 80%;
    }
  }
}

/* Features & Plans Sections */
.features {
  background: $bg-light;
}
.center-section {
  text-align: center;
  padding: 50px 10px;
}
.card-list {
  display: flex;
  justify-content: space-between;

  @include responsive($breakpoint-medium) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
.card {
  background: $white;
  padding: 20px;
  width: 27%;
  border-radius: 10px;
  box-shadow: $box-shadow;

  @include responsive($breakpoint-medium) {
    width: 80%;
  }
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: $footer-bg;
  color: $white;
}

/* Responsive */
// @media screen and (max-width: 992px) {
//   .card-list {
//     flex-direction: column;
//     align-items: center;
//     gap: 50px;
//   }
//   .card {
//     width: 80%;
//   }
// }
